
<p id="notice"><%= notice %></p>

<h1>All The Tweets</h1>

<center>
<% @tweets.each do |tweet| %>
<div class="jumbotron"style="max-width: 7000px">

<h3><%=  tweet.user + ' posted this'%></h3>
    <p><%= tweet.body %></p>

</div>
<% end %>
</center>
<br>
    